.product {
  background-color: #fbefd3;
}
.button {
  background-color: #fbefd3;
  border-color: #532a3a;
  color: #532a3a;
}

.button:hover,
.button:focus {
  background-color: #532a3a !important;
  border-color: #532a3a !important;
}
