body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbefd3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.category {
  color: #532a3a;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.3s ease-in;
}
.category:hover {
  text-decoration: none;
  color: #fbefd3;
  background-color: #532a3a;
  transform: scale(1.1);
}
